@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="home-background">
        <div class="home-content">
            <h1>Welcome to Doctor Appointment</h1>
            <p>Your health, our priority.</p>
        </div>
</div>

